{% extends 'layouts/page.njk' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ heading }}</h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>User email: {{ userEmail }}</li>
        <li>User name: {{ userName }}</li>
      </ul>
    </div>
  </div>
{% endblock %}
