{% set govukRebrand = true %}
{% extends "govuk/template.njk" %}
{% from "heading/macro.njk" import appHeading %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% set cspNonce = uuid %}

{% block head %}
  <link
    href="{{ getAssetPath('stylesheets/application.scss') }}"
    rel="stylesheet"
  />
  <!-- stop index bot indexing any page that uses this template -->
  <meta name="robots" content="noindex, nofollow" />
{% endblock %}
{% block header %}
  {% set accountNavigationEnd %}
    {% if accountBanner %}
      <li
        class="govuk-service-navigation__item app-service-navigation__account-item"
      >
        <span
          class="govuk-service-navigation__text app-service-navigation__account-name"
          data-testid="account-banner-name"
        >{{ accountBanner.fullName }}</span>
        <span class="govuk-!-margin-left-2">
          <a href="{{ accountBanner.signOutPath }}" class="govuk-service-navigation__link">Sign out</a>
        </span>
      </li>
    {% endif %}
  {% endset %}

  {{
    govukHeader({
      rebrand: true,
      homepageUrl: "https://www.gov.uk/",
      classes: "govuk-header--full-width-border app-header",
      containerClasses: "govuk-width-container",
      useTudorCrown: true
    })
  }}
  {{
    govukServiceNavigation({
      serviceName: serviceName,
      serviceUrl: initialServiceUrl | default(serviceUrl, true),
      navigationClasses: "app-service-navigation__nav",
      navigation: navigation,
      slots: {
        navigationEnd: accountNavigationEnd if accountBanner else null
      }
    })
  }}
{% endblock %}
{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
  {% include "../partials/footer.njk" %}
{% endblock %}
{% block bodyEnd %}
  <script
    type="module"
    src="{{ getAssetPath('application.js') }}"
    nonce="{{uuid}}"
    defer
  ></script>
{% endblock %}
