name: Check Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  sonarcloud:
    name: SonarCloud Scan (sonarcloud not enabled yet)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: |
          npm ci
          npm audit --omit=dev --audit-level=high
          npm run build:frontend
          npm run format:check
          npm run lint
          npm test

      - name: Security audit
        run: npm run security-audit

  pr-validator:
    name: Run Journey Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-suite:
          - user-journey-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: |
          npm ci
          npm audit --omit=dev --audit-level=high
          npm run build:frontend

      - name: Start docker compose
        run: docker compose up --wait-timeout 300 -d --quiet-pull

      - name: Run ${{ matrix.test-suite }}
        run: npm run ${{ matrix.test-suite }}

      - name: Upload allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-${{ matrix.test-suite }}
          path: ./allure-report

      - name: Upload docker compose logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-logs-${{ matrix.test-suite }}
          path: ./logs.txt

      - name: Cleanup
        if: always()
        run: docker compose down
