name: Check Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

jobs:
  sonarcloud:
    name: SonarCloud Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: |
          npm ci
          npm audit --omit=dev --audit-level=high
          npm run build
          npm run format:check
          npm run lint
          npm test

      - name: Security audit
        run: npm run security-audit

      - name: SonarCloud Scan
        if: github.actor != 'dependabot[bot]'
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  pr-validator:
    name: Run Journey Tests
    runs-on: ubuntu-latest
    env:
      APHA_INTEGRATION_BRIDGE_REPO: ${{ github.workspace }}/apha-integration-bridge
    strategy:
      matrix:
        test-suite:
          - user-journey-test
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Configure APHA Integration Bridge
        uses: ./.github/actions/configure-apha-integration-bridge
        with:
          token-url: ${{ secrets.APHA_INTEGRATION_BRIDGE_TOKEN_URL }}
          client-id: ${{ secrets.APHA_INTEGRATION_BRIDGE_CLIENT_ID }}
          client-secret: ${{ secrets.APHA_INTEGRATION_BRIDGE_CLIENT_SECRET }}

      - name: Configure OracleDB
        uses: ./.github/actions/configure-oracledb
        with:
          username: ${{ secrets.ORACLE_USERNAME }}
          password: ${{ secrets.ORACLE_SECRET_KEY }}

      - name: Configure MGMT UI .env file
        shell: bash
        run: |
          echo "$ENV_FILE" >> .env
        env:
          ENV_FILE: |
            APP_BASE_URL=http://localhost:3000
            AZURE_CREDENTIALS_ENABLE_MOCKING=true
            OIDC_WELL_KNOWN_CONFIGURATION_URL=http://localhost:3939/6f504113-6b64-43f2-ade9-242e05780007/v2.0/.well-known/openid-configuration
            AZURE_TENANT_ID=6f504113-6b64-43f2-ade9-242e05780007
            AZURE_CLIENT_ID=26372ac9-d8f0-4da9-a17e-938eb3161d8e

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm

      - name: Install dependencies
        run: |
          npm ci
          npm audit --omit=dev --audit-level=high
          npm run build:frontend

      - name: Start docker compose
        run: docker compose --profile=all --profile=self up --wait-timeout 300 -d --quiet-pull

      - name: Run ${{ matrix.test-suite }}
        run: npm run ${{ matrix.test-suite }}

      - name: Upload allure report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-${{ matrix.test-suite }}
          path: ./allure-report

      - name: Upload docker compose logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-logs-${{ matrix.test-suite }}
          path: ./logs.txt

      - name: Cleanup
        if: always()
        run: docker compose down
