name: Publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write

env:
  AWS_REGION: eu-west-2
  AWS_ACCOUNT_ID: '094954420758'

concurrency:
  group: publish-main

jobs:
  build:
    if: github.run_number != 1
    name: CDP-build-workflow
    runs-on: ubuntu-latest
    env:
      APHA_INTEGRATION_BRIDGE_REPO: ${{ github.workspace }}/apha-integration-bridge
      COMPOSE_PROFILE: '*'
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Configure APHA Integration Bridge
        uses: ./.github/actions/configure-apha-integration-bridge
        with:
          token-url: ${{ secrets.APHA_INTEGRATION_BRIDGE_TOKEN_URL }}
          client-id: ${{ secrets.APHA_INTEGRATION_BRIDGE_CLIENT_ID }}
          client-secret: ${{ secrets.APHA_INTEGRATION_BRIDGE_CLIENT_SECRET }}

      - name: Configure OracleDB
        uses: ./.github/actions/configure-oracledb
        with:
          username: ${{ secrets.ORACLE_USERNAME }}
          password: ${{ secrets.ORACLE_SECRET_KEY }}

      - name: Create Test Coverage Reports
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
      - run: |
          npm ci
          npm audit --omit=dev --audit-level=high
          npm run build
          npm run format:check
          npm run lint
          npm run test

      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Start docker compose
        run: |
          docker compose --profile=all up --wait-timeout 300 -d --quiet-pull

      - name: Journey tests
        run: |
          npm run user-journey-test

      - name: cleanup
        if: always()
        run: docker compose down

      - name: Build and Publish
        uses: DEFRA/cdp-build-action/build@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
